:root {
    --black: black;
    --light-grey: #E5E7EB;
    --grey: rgba(53, 53, 53, 0.3);
    --white: white;
    --green: #596D48;
    --red: #e04545;
    --light-red: tomato;
}
html, body, main, .board-cell {
    height: 100%;
    width: 100%;
}
main, .container, .board-container, .board-cell {
    position: relative;
}
main, .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: min(calc(100% - calc(0.75 * (80px - 2%))), 600px);
    aspect-ratio: 1 / 1;
    max-height: 600px;
}
.board-container {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    place-items: center;
}
.board-cell:nth-child(5) {
    border: var(--light-grey) 1px solid;
}
.board-cell:nth-child(2),
.board-cell:nth-child(8) {
    border-right: var(--light-grey) 1px solid;
    border-left: var(--light-grey) 1px solid;
}
.board-cell:nth-child(4),
.board-cell:nth-child(6) {
    border-top: var(--light-grey) 1px solid;
    border-bottom: var(--light-grey) 1px solid;
}
.board-cell {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    background-color: var(--white);
    font-size: clamp(20px, 10vw, 90px);
    text-align: justify;
}
.board-cell:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.highlight {
    background-color: var(--grey);
}
.board-cell:hover {
    cursor: pointer;
}
.board-cell:empty:hover::before {
    content: "X";
    vertical-align: middle;
    color: var(--grey);
}
.diff-button-group {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked ~ label {
    color: var(--black);
}
.btn-restart, label {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--grey);
}
.btn-restart:hover, label:hover{
    color: var(--black);
    cursor: pointer;
}
.btn-restart:active {
    color: var(--black);
}
.btn-restart {
    margin-top: 3rem;
}
/* MODAL CSS */
.modal-difficulty, .modal-restart, .modal-results {
    visibility: hidden;
    position: fixed; 
    padding-top: 200px;
    left: 0; 
    top: 0;
    z-index: 12;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-difficulty-content, .modal-restart-content, .modal-results-content {
    position: relative; 
    width: fit-content;
    padding: 1rem; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-radius: 5px; 
    background-color: var(--white);
}
.btn-group-confirmation {
    margin-top: 2rem;
}
.btn-confirm, .btn-cancel, .btn-restart {
    position: relative;
    margin: 0 1rem;
    border: none;
    background: none;
    font-size: 1.5rem;
}
.btn-confirm:after, .btn-cancel:after, .btn-restart:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--black);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s; 
}
.btn-confirm:hover, .btn-cancel:hover, .btn-restart:hover {
    font-weight: bold;
    cursor: pointer;
}
.btn-confirm:hover:after, .btn-cancel:hover:after, .btn-restart:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}
.visible {
    visibility: visible;
}